<div id="home-page">
    <h1>Christmas Starter Pack</h1>
    <p class="intro-text">So here we are, Christmas is upon us once again...</p>
    <p class="intro-text">Let's code something cool so it is a little bit easier to get along with it</p>
</div>
