<h2>New Present</h2>

<form action="/present/new" method="post">
    <label>Present name:</label>
    <input required type="text" name="name" placeholder="Fancy phone">
    <label>Link to the image:</label>
    <input type="text" name="image" placeholder="https://external-content.duckduckgo.com...">
    <label>Price:</label>
    <input type="number" name="price" placeholder="20">
    <label>Recipient:</label>
    <input required type="text" name="recipient" placeholder="Mum">
    <label>Description:</label>
    <input type="text" name="description" placeholder="The newest iPhone on the market.">
    <button type="submit">Create</button>
</form>