<h1>Presents List</h1>
<form action="/presents/search" method="get">
    <label>Search for a present in the list by it's name</label>
    <input type="text" name="name" placeholder="iPhone">
    <button type="submit">Search</button>
</form>
<div id="present-list">
    {{#each presents}}
        {{>presentPartial this}}
    {{/each}}
</div>
